{{!-- no species icons because almost all fontawesome's animal icons are pro-only --}}
<ul class="animal-list">
    {{#each animals}}
    <li class="animal">
        <div class="animal-header">
            <h3>{{name}}</h3>

            <div>
                <button class="animal-btn" type="button">
                    <a href="/edit/{{id}}">Edit</a>
                </button>
            </div>
        </div>

        <div class="animal-info">
            <p>{{capitalize species}}</p>

            <p>{{age}} years old</p>

            <p>{{weight}} lb.</p>
        </div>

        <div class="animal-foster-info">
            {{#if foster_id}}
            <p>With foster</p>
            {{/if}}
            
            {{#if special_needs}}
            <p>Needs special care</p>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>

<div>
      <div>
        <form class="create-form">
          <h3 class="animal-header">
            Add New Animal
          </h3>
          <div>
            <label for="name-create">Name:</label>
            <input type="text" id="name-create" />

            <label for="species-create">Species:</label>
            <select id="species-create">
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="rabbit">Rabbit</option>
                <option value="small pet">Small Pet</option>
            </select>

            <label for="age-create">Age (years):</label>
            <input type="number" id="age-create" />

            <label for="weight-create">Weight (pounds):</label>
            <input type="number" id="weight-create" />

            <label for="special-create">Special needs:</label>
            <input type="checkbox" id="special-create" />
          </div>
          <div>
            <button type="submit">add animal</button>
          </div>
        </form>
      </div>
    <script src="/javascript/add.js"></script>
</div>